*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Tahoma','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:10pt;
    transition: all 0.3s;

    /*VARIÁVEIS*/
    --corPrincipal:#369;
    --corPrincipalEscura:#258;
    --corPrincipalMaisEscura:#147;
    --corPrincipalClara:#46a;
    --corPrincipalMaisClara:#57b;
    --corComplementar:#963;
    --corComplementarEscura:#852;
    --corComplementarMaisEscura:#741;
    --corComplementarClara:#a74;
    --corComplementarMaisClara:#b85;
    --corPositivo:#396;
    --corPositivoEscuro:#285;
    --corNegativo:#933;
    --corNegativoEscuro:#822;
    --corBranco:#eee;
    --corBrancoTotal:#fff;
    --corBrancoCreme:#ddd;
}

#containerQuadroLuzes
{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    /* border:1px solid #0f0; */
}

#quadroLuzes
{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border:1px solid #f00; */
    background:#eee;
}

#quadroLuzes>p
{
    display:flex;
    padding:0 0.5rem;
    justify-content: space-between;
}

.botaoPainel
{
    min-width:7rem;
    padding:0.3rem;
    font-size:10pt;
    background:none;
    color:var(--corPrincipal);
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align:center;
    border:2px solid var(--corPrincipal);
    border-radius:7px;
    /* font-weight: bold; */
    --corUsada1:var(--corPrincipal);
    --corUsada2:var(--corBranco);
    cursor:pointer;
    user-select: none;
}

@media screen and (min-width:1000px)
{
    #quadroLuzes
    {
        --largura: 50%;
        --altura:60%;

        width:var(--largura);
        height:var(--altura);
        margin:calc((100% - var(--altura)) / 4) calc((100% - var(--largura)) / 2);
        background:#ccc;
        justify-content: center;
        border-radius:7px;
        box-shadow:2px 2px 3px #555;
    }
    
    #quadroLuzes>p
    {
        justify-content: center;
        /* border:1px solid #f00; */
        padding:0.8% 0;
    }

    .botaoPainel
    {
        min-width:10rem;
        font-size:14pt;
        margin-right:1%;
        box-shadow:1px 1px 3px #888;
    }
}

.ativado
{
    background:var(--corUsada1);
    color:var(--corUsada2);
}

